* {
  padding: 0;
  margin: 0; }

body {
  background: #f8f0e8; }

header {
  position: absolute; }

h1 {
  font-size: 80px;
  color: #414141;
  padding-top: 100px;
  font-weight: normal; }

h2 {
  font-size: 70px;
  color: #bfbdbc;
  font-weight: 200;
  padding: 100px 0 70px; }

h3 {
  width: 400px;
  margin: 0 auto;
  font-size: 45px;
  color: #333;
  font-style: italic; }

h4 {
  font-size: 22px;
  color: #87a6a3;
  text-transform: uppercase;
  padding-top: 140px; }

h5 {
  position: relative;
  top: 45px;
  left: 60px;
  font-size: 70px;
  float: left; }

h6 {
  font-size: 35px;
  color: #bfbdbc;
  margin: 15px 0 0 50px;
  font-weight: lighter; }

.masthead {
  position: relative;
  background-image: url(../images/brands.png);
  background-repeat: repeat;
  min-width: 1340px;
  height: 770px; }

.center-piece {
  position: absolute;
  background: #fff;
  width: 480px;
  height: 450px;
  border-radius: 50%;
  text-align: center;
  top: 105px;
  left: 50%;
  margin-left: -240px; }
  .center-piece:after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -47px;
    height: 99px;
    width: 95px;
    background-image: url(../images/glasses.png); }

.carousels {
  height: 600px; }
  .carousels article {
    position: relative;
    height: 100%;
    display: inline-block;
    margin-left: -4px; }
    .carousels article .cycle-prev {
      position: absolute;
      left: 0px;
      bottom: 250px;
      width: 50px;
      height: 40px;
      border-radius: 0 20px 20px 0;
      background: rgba(164, 158, 155, 0.7);
      z-index: 500;
      border-left: 4px solid rgba(102, 102, 102, 0.5); }
      .carousels article .cycle-prev:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        right: 5px;
        top: 5px; }
      .carousels article .cycle-prev .arrow-left {
        position: absolute;
        right: 18px;
        bottom: 12px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #de7d6d;
        z-index: 1000; }
    .carousels article .cycle-next {
      position: absolute;
      right: 0;
      bottom: 250px;
      width: 50px;
      height: 40px;
      border-radius: 20px 0 0 20px;
      background: rgba(164, 158, 155, 0.7);
      z-index: 500;
      border-right: 4px solid rgba(102, 102, 102, 0.5); }
      .carousels article .cycle-next:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        left: 5px;
        top: 5px; }
      .carousels article .cycle-next .arrow-right {
        position: absolute;
        left: 18px;
        bottom: 12px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #de7d6d;
        z-index: 1000; }
    .carousels article h2 {
      padding: 0;
      font-size: 30px;
      margin: 20px 0 0 30px; }
    .carousels article .purple {
      color: #97889c; }
    .carousels article .brown {
      color: #75685f; }
    .carousels article img {
      position: relative;
      top: 20px; }
    .carousels article .caption {
      position: absolute;
      top: 333px;
      left: 0;
      right: 0;
      margin: 0 auto; }
  .carousels h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
    text-decoration: underline;
    text-transform: uppercase; }
  .carousels p {
    font-size: 16px;
    color: #97889c; }
  .carousels .press {
    width: 25%;
    background: #97889c; }
    .carousels .press p {
      color: #75685f; }
    .carousels .press .cycle-pager {
      color: #75685f; }
  .carousels .awards {
    width: 25%;
    background: #faf7b1; }
    .carousels .awards h3 {
      color: #83776f; }
    .carousels .awards .cycle-pager {
      color: #97889c; }
  .carousels .testimonials {
    width: 50%;
    background: #75685f;
    padding-right: 4px; }
    .carousels .testimonials .cycle-pager {
      color: #97889c; }
  .carousels .cycle-slideshow {
    float: left;
    height: 85%;
    background-color: transparent;
    width: 100%; }
    .carousels .cycle-slideshow .panel {
      height: 100%;
      width: 100%;
      text-align: center; }
    .carousels .cycle-slideshow .cycle-pager {
      width: 100%;
      position: absolute;
      bottom: -10px;
      text-align: center;
      letter-spacing: 3px;
      font-size: 30px; }

.contact-us {
  height: 830px;
  background: url(../images/contactbackground.jpg) no-repeat;
  background-size: cover;
  text-align: center; }
  .contact-us p {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 80px;
    font-style: italic;
    letter-spacing: 1.5px; }
  .contact-us .feedback-container {
    margin: 0 auto;
    width: 680px; }
    .contact-us .feedback-container input {
      font-size: 18px;
      padding-left: 20px;
      border: none;
      letter-spacing: 1.5px; }
    .contact-us .feedback-container .name {
      color: #de7d6d;
      float: left;
      height: 70px;
      width: 310px;
      margin-bottom: 40px;
      box-shadow: 6px 6px 0 rgba(206, 128, 115, 0.75); }
      .contact-us .feedback-container .name::-webkit-input-placeholder {
        color: #ce8073;
        letter-spacing: 1.5px; }
    .contact-us .feedback-container .personal-contact {
      float: right;
      height: 70px;
      width: 310px;
      box-shadow: 6px 6px 0 rgba(134, 123, 116, 0.75);
      color: #867b74; }
      .contact-us .feedback-container .personal-contact::-webkit-input-placeholder {
        color: #867b74;
        letter-spacing: 1.5px; }
    .contact-us .feedback-container .feedback {
      width: 660px;
      height: 180px;
      margin-bottom: 80px;
      box-shadow: 6px 6px 0 rgba(66, 66, 66, 0.75);
      padding: 20px 0 0 20px;
      border: none;
      resize: none;
      color: #333; }
      .contact-us .feedback-container .feedback::-webkit-input-placeholder {
        color: #333;
        font-size: 16px;
        letter-spacing: -1px; }
  .contact-us button {
    position: relative;
    padding: 8px 50px 8px 30px;
    border-radius: 50px;
    background: rgba(33, 33, 33, 0.6);
    border: none;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline;
    outline: none; }
    .contact-us button a {
      color: #fff;
      text-decoration: none; }
  .contact-us span:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    right: 5px;
    top: 5px; }
  .contact-us .arrow-right {
    position: absolute;
    right: 13px;
    bottom: 12px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #de7d6d; }

.location {
  height: 700px;
  text-align: center;
  padding-bottom: 60px; }
  .location .business-card {
    position: relative;
    height: 300px;
    width: 670px;
    background: #fff;
    margin: 0 auto; }
    .location .business-card span {
      position: absolute; }
    .location .business-card .bubble {
      height: 100px;
      width: 100px;
      background: #5f7a95;
      border-radius: 50%;
      top: -20px;
      right: 50px;
      z-index: 5;
      line-height: 100px; }
      .location .business-card .bubble a {
        color: #fff;
        text-transform: uppercase; }
    .location .business-card .card {
      position: absolute;
      width: 260px;
      font-size: 22px;
      text-align: left;
      text-transform: uppercase;
      bottom: 60px; }
    .location .business-card .address {
      left: 60px;
      color: #333;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1.5px; }
    .location .business-card .contact-info {
      right: 0;
      color: #97889c; }
      .location .business-card .contact-info a {
        color: #5f7a95; }
    .location .business-card .border-top {
      top: 0;
      left: 0;
      height: 20px;
      width: 670px;
      background: #faf7b1;
      z-index: 4; }
    .location .business-card .border-left {
      left: 0;
      top: 0;
      height: 300px;
      width: 20px;
      background: #87a6a3;
      z-index: 3; }
    .location .business-card .border-bottom {
      bottom: 0;
      left: 0;
      height: 20px;
      width: 670px;
      background: #75685f;
      z-index: 2; }
    .location .business-card .border-right {
      right: 0;
      top: 0;
      height: 300px;
      width: 20px;
      background: #97889c;
      z-index: 1; }

.map {
  height: 550px; }
  .map iframe {
    width: 100%;
    height: 100%; }

footer {
  height: 60px; }
  footer ul li {
    display: inline;
    font-size: 20px;
    padding: 0 60px 0 40px;
    line-height: 60px;
    text-transform: uppercase; }
    footer ul li:nth-child(1) {
      color: #788ba0; }
    footer ul li:nth-child(2) {
      color: #d57058; }
    footer ul li:nth-child(4) {
      color: #a597a7; }
    footer ul li:nth-child(5) {
      color: #a49a92; }
  footer ul span {
    position: relative;
    bottom: 2px;
    font-size: 10px;
    padding-left: 10px;
    letter-spacing: -1px; }
  footer .first-child {
    color: #d57058;
    text-decoration: underline; }
  footer .second-child {
    color: #a7bab5; }
  footer .third-child {
    color: #333;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    font-weight: 400; }
  footer .fourth-child {
    color: #5f7a95; }
  footer .fifth-child {
    color: #bfbdbc; }
  footer img {
    float: right;
    padding: 20px; }
