* {
	padding: 0;
	margin: 0;
}
body {
	background: #f8f0e8;
	font-size: 18px;
	letter-spacing: 1.5px;
}
main {
	margin: 0 auto;
}
header {
	position: absolute;
}
h1 {
	font-size: 80px;
	color: #414141;
	padding-top: 100px;
	letter-spacing: 1;
	font-weight: normal;
}
h2 {
	font-size: 70px;
	color: #bfbdbc;
	font-weight: 200;
	padding: 100px 0 70px;
}
h3 {
	width: 400px;
	margin: 0 auto;
	font-size: 45px;
	color: #333;
	font-style: italic;
}
h4 {
	font-size: 22px;
	color: #87a6a3;
	text-transform: uppercase;
	padding-top: 140px;
}
h5 {
	position: relative;
	top: 45px;
	left: 60px;
	font-size: 70px;
	float: left;
}
h6 {
	font-size: 35px;
	color: #bfbdbc;
	margin: 15px 0 0 50px;
	font-weight: lighter;
}	
.masthead {
	position: relative;
	background-image: url(../images/brands.png);
	background-repeat: repeat;
	min-width: 1340px;
	height: 770px;
}
.center-piece {
	position: absolute;
	background: #fff;
	width: 480px;
	height: 450px;
	border-radius: 50%;
	text-align: center;
	top: 105px;
	left: 50%;
	margin-left: -240px;
	&:after {
		content: "";
		position: absolute;
		bottom: 40px;
		left: 50%;
		margin-left: -47px;
		height: 99px;
		width: 95px;
		background-image: url(../images/glasses.png);
	}
}
.carousels {
	height: 600px;
	background: #333;
}
.contact-us {
	height: 830px;
	background: url(../images/contactbackground.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	p {
		font-size: 16px;
		color: #3d3d3d;
		margin-bottom: 80px;
		font-style: italic;
	}
	.feedback-container {
		margin: 0 auto;
		width: 680px;
		input {
			font-size: 18px;
			padding-left: 20px;
			border: none;
		}
		.name {
			color: #de7d6d;
			float: left; 
			height: 70px;
			width: 310px;
			margin-bottom: 40px;
			box-shadow: 6px 6px 0 rgba(206, 128, 115, 0.75);
			&::-webkit-input-placeholder {
				color: rgb(206, 128, 115);
				letter-spacing: 1.5px;
			}
		}
		.personal-contact {
			float: right;
			height: 70px;
			width: 310px;
			box-shadow: 6px 6px 0 rgba(134, 123, 116, 0.75);
			color: rgb(134, 123, 116);
			&::-webkit-input-placeholder {
				color: rgb(134, 123, 116);
				letter-spacing: 1.5px;
			}
		}
		.feedback {
			width: 660px;
			height: 180px;
			margin-bottom: 80px;
			box-shadow: 6px 6px 0 rgba(66, 66, 66, 0.75);
			padding: 20px 0 0 20px;
			border: none;
			resize: none;
			color: #333;
			&::-webkit-input-placeholder {
				color: #333;
				font-size: 16px;
				letter-spacing: -1px;
			}
		}
	}
	button {
		position: relative;
		padding: 8px 50px 8px 30px;
		border-radius: 50px;
		background: rgba(33, 33, 33, 0.6);
		border: none;
		color: #fff;
		font-size: 20px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		display: inline;
	}
	span:after {
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #fff;
		right: 5px;
		top: 5px;
	}
	.arrow-right {
		position: absolute;
		right: 13px;
		bottom: 12px;
		width: 0; 
		height: 0; 
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid #de7d6d;
	}
}
.location {
	height: 700px;
	text-align: center;
	.business-card {
		position: relative;
		height: 300px;
		width: 670px;
		background: #fff;
		margin: 0 auto;
		span {
			position: absolute;
		}
		.bubble {
			height: 100px;
			width: 100px;
			background: #5f7a95;
			border-radius: 50%;
			top: -20px;
			right: 50px;
			z-index: 5;
			line-height: 100px;
			a {
				color: #fff;
				text-transform: uppercase;
			}
		}
		.card {
			position: absolute;
			width: 240px;
			font-size: 22px;
			text-align: left;
			text-transform: uppercase;
			bottom: 60px;
		}
		.address {
			left: 60px;
			color: #7f7f7f;
			font-weight: 600;
		}
		.contact-info {
			right: 0;
			color: #97889c;
			a {
				color: #5f7a95;
			}
		}
		.border-top {
			top: 0;
			left: 0;
			height: 20px;
			width: 670px;
			background: #faf7b1;
			z-index: 4;
		}
		.border-left {
			left: 0;
			top: 0;
			height: 300px;
			width: 20px;
			background: #87a6a3;
			z-index: 3;
		}
		.border-bottom {
			bottom: 0;
			left: 0;
			height: 20px;
			width: 670px;
			background: #75685f;
			z-index: 2;
		}
		.border-right {
			right: 0;
			top: 0;
			height: 300px;
			width: 20px;
			background: #97889c;
			z-index: 1;
		}
	}
}
.map {
	height: 550px;
	// Place holder image for google API
	background-image: url(../images/mapimage.jpg);
	background-size: cover;
}
footer {
	height: 60px;
	li {
		display: inline;
		font-size: 18px;
		padding: 0 40px 0 30px;
		line-height: 60px;
		text-transform: uppercase;
	}
}